*{
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #792b07;
    padding: 20px;
}

header{
    background-color: #d5701d;
    color: #5b210a;
    text-align: center;
}

nav {
    color: rgb(255, 166, 0);
    text-decoration: none;
    padding: 4px;
}

.bloco {
background-color: #ffc062cc;
color: rgb(55, 8, 0);
font-style: oblique;
border: 1px, dotted #993507;
margin-bottom: 16px;
border-top: 2px solid rgba(139, 58, 4, 0.867);
font-size: larger;
}

#galeria {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
    padding: 20px;
}

.foto {
    background: #ffce85;
    padding: 12px 12px 20px 12px;
    border: 1px solid #af5206dd;
    box-shadow: 0 4px 10px #4b1700;
    width: 220px ;
    text-align: center;
    border-radius: 4px;
}


.foto img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    display: block;
}

.foto img:hover{
transform: scale(1.50) rotate(2deg);
}

.legenda {
   margin-top: 10px;
   font-family: 'Courier New', Courier, monospace;
}

nav a {
    color: rgb(255, 213, 0);
    text-decoration: none;
    padding: 4px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #d76c2ecc;
    border-bottom-color: rgb(132, 48, 12);
}

nav a:hover { 
    color: rgb(167, 52, 7);
}

.fonte {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #762a04;
    background-color: #da873a;
    font-size: xx-large;
    padding: 10px;

}

.corzinhaproscopyright {

    color:rgb(255, 166, 0);
}

.subtitulo {
    color: #ffe313;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    float: inline-start;
    background-color: #d5701d;
    padding: 5px;
    font-size: larger;
}

.titulodagaleria {
    text-align: center;
    font-size: xx-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #471903;
    background: #d47019;
}